* {
    font-family: 'Lato', sans-serif;
}
body { 
    padding-top: 70px; 
    background-color: #77afe0;
    background-image: url("../images/diamond-upholstery.png");
}
.bodypad{
    padding-left: 70px;
}
select[multiple]{
    font-family: 'Lato', sans-serif;
    height: auto;
}
input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 10px;
}
.btn-primary{
    background-color: #F19425;
    color: #fff;
    border: none;
    outline: #F19425;
}
.sectors{
    margin-left: 80px;
    margin-right: 80px;
}
.ticker{
    background-color: #ffffff;
    background-image: url("../images/diamond-upholstery.png");
    margin-left: 80px;
    margin-right: 80px;
}
.acct-form{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.form-title{
    padding-bottom:20px;
}
th, td {
    padding-right: 20px;
    padding-bottom:20px;
}
tr {
    margin-bottom: 90px;
}

.left-padded{
    padding-left: 50px;
}
