{% load staticfiles %}
{% include "exchange/base.html" %}

<body>
    {% if book %}
        {% for key,value in book.items %} 
            <h3>{{key}}</h3>
            <div class="container">
                <div class="col-sm-6">
                    {% for each_bid in value.bids %}
                        {% if each_bid.order_account.user == user %}
                        <p style="color:#FF0000">{{each_bid}}</p>
                        {% else%}
                        <p>{{each_bid}}</p>
                        {% endif %}
                    {% empty %}
                        <p>No orders!!</p>
                    {% endfor %}
                </div>
                <div class="col-sm-6">
                    {% for each_ask in value.asks %}
                        {% if each_ask.order_account.user == user %}
                        <p style="color:#FF0000">{{each_ask}}</p>
                        {% else%}
                        <p>{{each_ask}}</p>
                        {% endif %}
                    {% empty %}
                        <p>No orders!!</p>
                    {% endfor %}
                </div>

            </div> 
       <!-- <hr style="height:1px;border:none;color:#333;background-color:#333;" />-->
        {% endfor %}
    {% endif %}
</body>

