{%load staticfiles%}
{% include "exchange/base.html" %}

<body>
    <div class="container-fluid">
	    <div class="text-center form-title"><h2>Account Form</h2></div>
        <div class="row">
        <div class="text-center">
	        <form action="/account/create/submit" method="post">
	        {% csrf_token %}
            <table class="acct-form">
	        {{form.as_table}}
            </table>
        </div>
        </div>
        <div class="row text-center"> 
	        <button class="btn btn-primary text-center"/>Create account!</button>
	        </form>
        </div>
    </div>
</body>

