{% include "exchange/base.html" %}
<!--DOCTYPE html -->
<html>
	<body class= "bodypad">
		{% if user.is_authenticated %}
		{% if orders %}
		<form action="/deleteorder/" method="POST">
			{% csrf_token %}
			{% for order in orders %}
			<input type="checkbox" name="order" value="{{order.id}}"/>{{order}}<br>
			{% endfor %}
			<button class="btn btn-primary" value="Delete Order"/>Delete Order</button>
		</form>
		{% else %}
		<h2>No orders found</h2>
		{% endif %}
		{% else %}
		<h2>Not logged in</h2>
		<br><br>
		<p><a href="{% url 'exchange:login' %}">Log in</a> | <a href="{% url 'exchange:createaccount' %}">Create an account</a></p>    	
		{% endif %}
	</body>
</html>
