{% include "exchange/base.html" %}
<!--DOCTYPE html -->
<body>
<div class="container-fluid">
	    {% if user.is_authenticated %}
	    <div class="text-center form-title"><h2>Order form</h2></div>
        <div class="row">
        <div class="text-center">
	        <form action="/order/submit/" method="post">
	        {% csrf_token %}
            <table class="acct-form">
	        {{form.as_table}}
            </table>
        </div>
        </div>
        <div class="row text-center">
	        <button class="btn btn-primary"/>Submit</button>
	        </form>
        </div>
	    {% else %}
	    <h2>Not logged in</h2>
	    <br><br>
	    <p><a href="{% url 'exchange:login' %}">Log in</a> | <a href="{% url 'exchange:createaccount' %}">Create an account</a></p>    	
	    {% endif %}
    </div>
</div>
</div>
</body>
