{% load staticfiles %}
{% include "exchange/base.html" %}

<body>
	{% if user.is_authenticated %}
    <div class="container-fluid">
	    <div class="row left-padded">
	    	<h2>YOUR FUNDS</h2>
	    	<p>{{account.print_funds_avail}}</p>
	    	<p>{{account.print_funds_tot}}</p>
	    	<br>
	    </div>
	    <div class="row left-padded">
	    	<h2>YOUR ORDERS</h2>
	    	{% if orders %}
	    	{% for order in orders %}
	    	<p>{{order}}</p>
	    	{% endfor %}
	    	{% else %}
	    	<p>You have no orders</p>
	    	{% endif %}
	    	<br>
	    </div>
	    <div class="row left-padded">
			<h2>YOUR SECURITIES</h2>
			{% if possessions %}
			{% for key,value in pos_forms.items %}  
            <div>
                <form action="/account/view/t" method="post">
                {% csrf_token %}
                <h3><a href="{%url 'exchange:viewsecurity' symbol=value.pos.security_id.symbol %}">{{value.pos.security_id.symbol}}</a></h3>
                <p>{{value.pos.print_shares_avail}}</p>
                <p>{{value.pos.print_shares_tot}}</p>
                {% if value.pos.available_amount > 0 %}
                <p name="num">{{value.form.num}}</p>
                <p style="display: none">{{value.form.order_security}}</p>
                <button class="btn btn-primary" style="background:red" name="red" />Taj-it (Risky)</button>
                <button class="btn btn-primary" style="background:orange" name="yellow" />Taj-it (Medium)</button>
                <button class="btn btn-primary" style="background:green" name="green" />Taj-it (Safe)</button>
                {% endif %}
                </p>
                </form>
                
			</div>
            {% endfor %}
		</div>
	    <div class="row left-padded">
	    	<h2>YOUR RECOMMENDATIONS -- Current Risk: {{risk}}</h3>
            <h3>Aggressive</h4>
            <h4>Risk Reduction</h4>
            {% for key,value in agr_low.0.items %} 
                <p>Buy {{value}} shares from {{key}}.</p>
            {% empty %}
                <p> Empty! </p>
            {% endfor %}
                <p>This will reduce your risk to {{agr_low.1}}.</p>
            <h4>Risk Increase</h4>
            {% for key,value in agr_high.0.items %} 
                <p>Buy {{value}} shares from {{key}}.</p>
            {% empty %}
                <p> Empty! </p>
            {% endfor %}
                <p>This will increase your risk to {{agr_high.1}}.</p>
            <br><br>
            <h4>Moderate</h4>
            <h4>Risk Reduction</h4>
            {% for key,value in mod_low.0.items %} 
                <p>Buy {{value}} shares from {{key}}.</p>
            {% empty %}
                <p> Empty! </p>
            {% endfor %}
                <p>This will reduce your risk to {{mod_low.1}}.</p>
            <h4>Risk Increase</h4>
            {% for key,value in mod_high.0.items %} 
                <p>Buy {{value}} shares from {{key}}.</p>
            {% empty %}
                <p> Empty! </p>
            {% endfor %}
                <p>This will increase your risk to {{mod_high.1}}.</p>
            <br><br>
            <h4>Safe</h4>
            <h4>Risk Reduction</h4>
            {% for key,value in safe_low.0.items %} 
                <p>Buy {{value}} shares from {{key}}.</p>
            {% empty %}
                <p> Empty! </p>
            {% endfor %}
                <p>This will reduce your risk to {{safe_low.1}}.</p>
            <h4>Risk Increase</h4>
            {% for key,value in safe_high.0.items %} 
                <p>Buy {{value}} shares from {{key}}.</p>
            {% empty %}
                <p> Empty! </p>
            {% endfor %}
                <p>This will increase your risk to {{safe_high.1}}.</p>
            <br><br>
	    	<br>
	    </div>
			{% else %}
			<p>You have no securities</p>
			{% endif %}
    </div>
	{% else %}
	<div>
		<h2>Not logged in</h2>
		<br><br>
		<p><a href="{% url 'exchange:login' %}">Log in</a> | <a href="{% url 'exchange:createaccount' %}">Create an account</a></p>
	</div>    	
	{% endif %}
</body>
{% if error %}
<script type="text/javascript">alert("{{error}}");</script>
{% endif %}
