{% load staticfiles %}
{% include "exchange/base.html" %}

<body>
	{% if user.is_authenticated %}
    <div class="container-fluid">
	    <div class="row left-padded">
	    	<h2>YOUR FUNDS</h2>
	    	<p>{{account.print_funds_avail}}</p>
	    	<p>{{account.print_funds_tot}}</p>
            <form action="/account/update/" method="post">
            {% csrf_token %}
            {{depwit_form.as_p}}
            <button class="btn btn-primary" value="Submit"/>Deposit/Withdraw</button>    
    </form>
	    	<br>
	    </div>
	    <div class="row left-padded">
	    	<h2>YOUR ORDERS</h2>
	    	{% if orders %}
	    	<form action="/deleteorder/" method="POST">
            {% csrf_token %}
            {% for order in orders %}
            <input type="checkbox" name="order" value="{{order.id}}"/>{{order}}<br>
            {% endfor %}
            <button class="btn btn-primary" style="background:red" value="Delete Order"/>Delete Order(s)</button>
            </form>
	    	{% else %}
	    	<p>You have no orders</p>
	    	{% endif %}
	    	<br>
	    </div>
	    <div class="row left-padded">
			<h2>YOUR SECURITIES</h2>
			{% if possessions %}
            <table border="1">
            <tr>
                <th>Symbol</th>
                <th>Available Shares</th>
                <th>Total Shares</th>
                <th>Taj-it Amount</th>
                <th>Taj-it?</th>
            </tr>
			{% for key,value in pos_forms.items %}  
            <tr>
                <form action="/account/view/t" method="post">
                {% csrf_token %}
                <td><a href="{%url 'exchange:viewsecurity' symbol=value.pos.security_id.symbol %}">{{value.pos.security_id.symbol}}</a></td>
                <td>{{value.pos.available_amount}}</td>
                <td>{{value.pos.total_amount}}</td>
                {% if value.pos.available_amount > 0 %}
                <td name="num">{{value.form.num}}</td>
                <td style="display: none">{{value.form.order_security}}</td>
                <td>
                <button class="btn btn-primary" style="background:red" name="red" />Risky</button>
                <button class="btn btn-primary" style="background:orange" name="yellow" />Medium</button>
                <button class="btn btn-primary" style="background:green" name="green" />Safe</button>
                </td>
                {% endif %}
                </form>
            </tr> 
            {% endfor %} 
        </table>
		</div>
	    <div class="row left-padded">
	    	<h2>YOUR RECOMMENDATIONS -- Current Risk: {{risk}}</h3>
            <h3>Aggressive</h4>
            <h4>Risk Reduction</h4>
            {% for key,value in agr_low.0.items %} 
                <p>Buy {{value}} shares from {{key}}.</p>
            {% empty %}
                <p> Empty! </p>
            {% endfor %}
                <p>This will reduce your risk to {{agr_low.1}}.</p>
            <h4>Risk Increase</h4>
            {% for key,value in agr_high.0.items %} 
                <p>Buy {{value}} shares from {{key}}.</p>
            {% empty %}
                <p> Empty! </p>
            {% endfor %}
                <p>This will increase your risk to {{agr_high.1}}.</p>
            <br><br>
            <h4>Moderate</h4>
            <h4>Risk Reduction</h4>
            {% for key,value in mod_low.0.items %} 
                <p>Buy {{value}} shares from {{key}}.</p>
            {% empty %}
                <p> Empty! </p>
            {% endfor %}
                <p>This will reduce your risk to {{mod_low.1}}.</p>
            <h4>Risk Increase</h4>
            {% for key,value in mod_high.0.items %} 
                <p>Buy {{value}} shares from {{key}}.</p>
            {% empty %}
                <p> Empty! </p>
            {% endfor %}
                <p>This will increase your risk to {{mod_high.1}}.</p>
            <br><br>
            <h4>Safe</h4>
            <h4>Risk Reduction</h4>
            {% for key,value in safe_low.0.items %} 
                <p>Buy {{value}} shares from {{key}}.</p>
            {% empty %}
                <p> Empty! </p>
            {% endfor %}
                <p>This will reduce your risk to {{safe_low.1}}.</p>
            <h4>Risk Increase</h4>
            {% for key,value in safe_high.0.items %} 
                <p>Buy {{value}} shares from {{key}}.</p>
            {% empty %}
                <p> Empty! </p>
            {% endfor %}
                <p>This will increase your risk to {{safe_high.1}}.</p>
            <br><br>
	    	<br>
	    </div>
			{% else %}
			<p>You have no securities</p>
			{% endif %}
    </div>
	{% else %}
	<div>
		<h2>Not logged in</h2>
		<br><br>
		<p><a href="{% url 'exchange:login' %}">Log in</a> | <a href="{% url 'exchange:createaccount' %}">Create an account</a></p>
	</div>    	
	{% endif %}
</body>
{% if error %}
<script type="text/javascript">alert("{{error}}");</script>
{% endif %}
